<header>
    <nav>
        <section class="logo-container">
            <figure>
                <img src="/assets/img/pokedex-logo.png" alt="Pokedex logo">
            </figure>
        </section>
        <section class="filter-container">
            <ul>
                <li>
                    <button type="button">TYPE</button>
                </li>
                <li>
                    <button type="button">TYPE</button>
                </li>
                <li>
                    <button type="button">TYPE</button>
                </li>
                <li>
                    <button type="button">TYPE</button>
                </li>
                <li>
                    <button type="button">TYPE</button>
                </li>
                <li>
                    <button type="button">TYPE</button>
                </li>
            </ul>
        </section>
    </nav>
</header>
<main>

</main>