header {
    background: red;
    padding: 1.6rem 0;
}

header nav {
    height: 100%;
    padding: 0 3rem;
    max-width: 100rem;
    margin: 0 auto;
}

.logo-container {
    height: 70px;
    background: green;
}

.logo-container figure {
    height: 100%;
}

figure img {
    height: 100%;
}






.filter-container {
    background: purple;
    display: flex;
    padding-top: 1rem;
}  

.filter-container ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

main {
    padding: 0 3rem;
    background: blue;
}