<section class="filter-container">
    <ul>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
        <li>
            <button type="button">TYPE</button>
        </li>
    </ul>
</section>