<section class="filter-container">
    <ul>
      <li>
        <button type="button" class="btn filter-btn">Ver Todos</button>
      </li>
      <!-- Ahora si podemos iterar ya que filters es solo una lista -->
      <li *ngFor="let type of filters">
        <ng-container *ngIf="type.name !== 'unknown'">
          <button type="button" class="btn filter-btn {{ type.name }}">{{ type.name.toUpperCase() }}</button>
        </ng-container>
        <!-- <button type="button" class="btn filter-btn {{ type.name }}">{{ type.name.toUpperCase() }}</button> -->
      </li>
    </ul>
  </section>