<!-- <section class="filter-container">
    <ul>
      <li>
        <button type="button" class="btn filter-btn">Ver Todos</button>
      </li>
      <li *ngFor="let type of filters">
        <ng-container *ngIf="type.name !== 'unknown'">
          <button type="button" class="btn filter-btn {{ type.name }}">{{ type.name.toUpperCase() }}</button>
        </ng-container>
      </li>
    </ul>
  </section> -->

  <section class="filter-container">
    <ul>
      <li>
        <button type="button" class="btn filter-btn">Ver Todos</button>
      </li>
      <li *ngFor="let type of filterTypes">
        <button type="button" class="btn filter-btn {{ type }}">{{ type.toUpperCase() }}</button>
      </li>
    </ul>
  </section>



  